@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(247, 245, 245);
}

#navbar {
  height: 5vh;
}

#content {
  margin-top: 5vh;
}

/* Page Segment Headers */

.sectionHeader {
  margin-top: 7vh;
}

.subHeader {
  margin-top: 3vh;
}

#me {
  height: 85vh;
  width: auto;
  margin: 0 auto 0;
}

.salutationContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.salutation {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 700;
}

#name {
  font-family: 'Special Elite';
  font-size: 3rem;
}

/* About cards */

.aboutCard {
  padding: 0 !important;
  margin: 1.04%;
}

.aboutCard > .segment {
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  min-height: 250px;
  padding: 7% 1em;
}

.aboutCard > .segment > h1 {
  text-align: center;
}

.aboutCard > .segment > .content {
  font-size: 16px;
  margin: auto;
}

/* Skills */

#skillsRow > .column {
  text-align: center;
  margin: 2% 1.04% 0 1.04%;
}

.skillIcon {
  font-size: 7rem;
}

/* Project Boxes */
.project {
  /* min-height: 250px; */
  background-color: rgba(255, 255, 255, 0.5) !important;
  display: flex;
}

.project > .image {
  width: 40%;
  margin: auto;

  -moz-box-shadow: 3px 3px 5px 6px #ccccccd1;
  -webkit-box-shadow: 3px 3px 5px 6px #ccccccd1;
  box-shadow: 1px 1px 2px 3px #ccccccd1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.project > .content {
  margin-left: 1.5%;
}

.project > .content > .header {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.28em;
  font-weight: 700;
}

.project > .content > .meta {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  margin: 0.25em 0 0.25em 0;
}

.project > .items {
  margin: auto;
  height: 100%;
}
.project > .items > .item {
  height: 100%;
}
.project > .items > .item > .image {
  display: flex;
}

.project > .items > .item > .image > img {
  margin: auto;
}

/* Learn More */

#learnMore {
  margin-top: 2vh;
}
#learnMore > .column {
  text-align: center;
}
#learnMore > .column > a > i {
  font-size: 4em;
  color: #202020;
}

/* Footer */

#footer {
  height: 25vh;
  margin-top: 15vh;
  background-color: #262626;
  color: white;

  text-align: center;
  display: flex;
}

#footer > div {
  margin: auto;
}
